<div class="login__root">
  <div class="login__main-content">
    <div class="login__logo-container">
      <%= image_tag 'ruby.png', class: 'login__ruby-logo' %>
    </div>
    <div>
      <h1 class="login__heading-text">Rails Messenger</h1>
      <p class="login__sub-text">Facebook Messenger clone built with Rails 5 features:<br />ActionCable, Webpacker!</p>
    </div>

    <%= link_to user_facebook_omniauth_authorize_path, class: 'login__facebook-signin-btn' do %>
      <i class="fa fa-facebook-official login__facebook-icon"></i>&nbsp;Sign in with Facebook
    <% end %>
  </div>
</div>
