@import 'helpers/variables';

.message-threadlist__rows-container {
  list-style: none;
  padding: 0;
  margin: 0;
}

.message-threadlist-row__link {
  text-decoration: none;
}

.message-threadlist-row__root {
  display: flex;
  padding: 10px;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $hover-gray;
  }

  &:active {
    background-color: $active-gray;
  }
}

.message-threadlist-row__root--active {
  background-color: $hover-gray;
}

.message-threadlist-row__root--unread {
  .message-threadlist-row__username  {
    font-weight: 600;
  }
  .message-threadlist-row__message  {
    font-weight: 600;
    color: $black;
  }
  .message-threadlist-row__sent-at {
    color: $blue;
  }
}

.message-threadlist-row__avatar-container {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 10px;
}

.message-threadlist-row__avatar-image {
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.message-threadlist-row__username {
  color: $black;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
}

.message-threadlist-row__message {
  color: $font-color-dark-gray;
  font-size: 13px;
  font-weight: 400;
}

.message-threadlist-row__main-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.message-threadlist-row__sent-at {
  font-size: 12px;
  color: $font-color-gray;
}

.message-threadlist-row__seen-status {
  margin-top: 10px;
  text-align: center;
}

.message-threadlist-row__seen-status-avatar-image {
  display: inline-block;
  border-radius: 15px;
  width: 15px;
  height: 15px;
}

