@import 'helpers/variables';

.search-header__root {
  padding: 15px;
  border-bottom: 1px solid $border-color-gray;
  box-sizing: border-box;
  position: relative;
}

.search-header__label {
  display: inline-block;
  margin-right: 5px;
  color: $font-color-gray;
  position: absolute;
  top: 15px;
}

.search-header__root {

  .react-tagsinput {
    display: inline-block;
    padding-left: 28px;
  }

  .react-tagsinput-tag {
    background-color: #cbe6fe;
    border-radius: 2px;
    border: none;
    color: $blue;
    display: inline-block;
    font-size: 13px;
    padding: 5px 8px;
    margin-bottom: 5px;
    margin-right: 5px;
  }
}
