// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/** Layout **/
.dashboard__root {
  display: flex;
  width: 100%;
  height: 100vh;
}

.main-sidebar__root {
  width: 25%;
  background-color: white;
}

.message-detail-view__root {
  width: 75%;
  background-color: white;
  border-left: 1px solid rgba(0, 0, 0, .20);
}

/** MessageDetailView **/
.message-detail-view__header {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, .10);
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  height: 54px;
}

.message-detail-view__header-title-box {
  display: inline-block;
}

.message-detail-view__header-usernames {
  margin: 0;
  font-size: 14px;
}

.message-detail-view__main-content {
  height: 100%;
  overflow: scroll;
}

/** MessageBubble **/
.message-bubble__root {
  position: relative;
  margin-bottom: 12px;
}

.message-bubble--right {
  background-color: rgb(214, 150, 187);
  border-top-right-radius: 1.3em;
  border-top-left-radius: 1.3em;
  border-bottom-left-radius: 1.3em;
  color: white;
  padding: 6px 12px;
  clear: right;
  float: right;
}

.message-bubble--left {
  background-color: #f1f0f0;
  color: rgba(0, 0, 0, 1);
  padding: 6px 12px;
  border-radius: 1.3em;
  clear: left;
  float: left;
}

/** Clearfix **/
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/** MainSidebar **/
.main-sidebar__header {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, .10);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 54px;
}

.message-threadlist__rows-container {
  list-style: none;
  padding: 0;
  margin: 0;
}

.message-threadlist-row__root {
  display: flex;
  padding: 10px;
  align-items: center;
}

.message-threadlist-row__avatar-container {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 10px;
}

.message-threadlist-row__avatar-image {
  display: block;
  border-radius: 50%;
}

.message-threadlist-row__username {
  color: rgba(0, 0, 0, 1);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
}

.message-threadlist-row__message {
  color: rgba(153, 153, 153, 1);
  font-size: 13px;
  font-weight: 400;
}
