// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/** Layout **/
.dashboard__root {
  display: flex;
  width: 100%;
  height: 100vh;
}

.main-sidebar__root {
  width: 25%;
  height: 100%;
  background-color: white;
}

.message-detail-view__root {
  width: 75%;
  height: 100%;
  background-color: white;
  border-left: 1px solid rgba(0, 0, 0, .20);
}

/** Loader **/
.icon-loading {
  width: 2em;
  height: 2em;
}

/** MessageDetailView **/
.message-detail-view__header {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, .10);
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  height: 54px;
  z-index: 10px;
}

.message-detail-view__header-title-box {
  display: inline-block;
}

.message-detail-view__header-usernames {
  margin: 0;
  font-size: 14px;
}

.message-detail-view__main-content {
  height: 100%;
  overflow: scroll;
  position: relative;
}

.message-detail-view__messages-container {
  padding-top: 2em;
}

.message-detail-view__message-thread-loading {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.message-detail-view__message-thread-loading--initial {
  top: 50%;
}

.message-detail-view__date-break {
  text-align: center;
}

.message-detail-view__date-break-text {
  display: block;
  font-weight: 500;
  margin: 12px 0 12px 20px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, .40);
  font-size: 12px;
}

.message-detail-view__input-footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  height: 50px;
  z-index: 10;
}

.message-detail-view__typing-indicator-row {
  margin-top: 30px;
  position: relative;
}

/** MessageGroup **/
.message-group__root {
  margin-bottom: 18px;
  position: relative;
}

.message-group__avatar {
  display: inline-block;
  position: absolute;
  left: 5px;
  bottom: 0;
}

.message-group__avatar-image {
  display: block;
  width: 30px;
  border-radius: 50%;
}

/** MessageBubble **/
.message-bubble__root {
  position: relative;
  padding-left: 40px;
  margin-bottom: 2px;
}

.message-bubble--right {
  background-color: rgb(214, 150, 187);
  border-top-left-radius: 1.3em;
  border-bottom-left-radius: 1.3em;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: white;
  padding: 6px 12px;
  clear: right;
  float: right;
  margin-right: 28px;

  &.message-bubble--first-in-group {
    border-top-right-radius: 1.3em;
  }

  &.message-bubble--last-in-group {
    border-bottom-right-radius: 1.3em;
  }
}

.message-bubble--left {
  background-color: #f1f0f0;
  color: rgba(0, 0, 0, 1);
  padding: 6px 12px;
  border-top-right-radius: 1.3em;
  border-bottom-right-radius: 1.3em;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  clear: left;
  float: left;

  &.message-bubble--first-in-group {
    border-top-left-radius: 1.3em;
  }

  &.message-bubble--last-in-group {
    border-bottom-left-radius: 1.3em;
  }

}

.message-bubble__delivery-status {
  position: absolute;
  right: 5px;
  font-size: 14px;
  margin-top: 18px;
}

.message-bubble__delivery-status--pending {
  color: #d3d3d3;
}

.message-bubble__delivery-status--error {
  color: #ff0033;
}

.message-bubble__delivery-status--sent {
  color: rgb(214, 150, 187);
}

/** TypingIndicator **/
// Thanks to Joseph Fusco: https://codepen.io/fusco/pen/XbpaYv
.typing-indicator {
  $ti-color-bg: #E6E7ED;
  background-color: $ti-color-bg;
  will-change: transform;
  width: auto;
  border-radius: 25px;
  padding: 10px;
  display: table;
  margin-left: 40px;
  position: relative;
  bottom: 10px;
  left: 5px;
  animation: 2s bulge infinite ease-out;
  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: -1px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color:
    $ti-color-bg;
  }
  &::after {
    height: 7px;
    width: 7px;
    left: -7px;
    bottom: -5px;
  }
  span {
    height: 7.5px;
    width: 7.5px;
    float: left;
    margin: 0 1.5px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        animation: 1s blink infinite ($i * .3333s);
       }
     }
   }
 }

 @keyframes blink {
   50% {
     opacity: 1;
   }
 }

 @keyframes bulge {
   50% {
     transform: scale(1.05);
   }
 }

/** MessageInput **/
.message-input__root {
  border-top: 1px solid rgba(0, 0, 0, .10);
  padding: 5px;
}

.message-input__input-field {
  display: block;
  width: 100%;
  padding: 9px;
  border: none;
  outline: none;
}

/** Clearfix **/
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/** MainSidebar **/
.main-sidebar__header {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, .10);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 54px;
}

.message-threadlist__rows-container {
  list-style: none;
  padding: 0;
  margin: 0;
}

.message-threadlist-row__root {
  display: flex;
  padding: 10px;
  align-items: center;
}

.message-threadlist-row__avatar-container {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 10px;
}

.message-threadlist-row__avatar-image {
  display: block;
  border-radius: 50%;
}

.message-threadlist-row__username {
  color: rgba(0, 0, 0, 1);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
}

.message-threadlist-row__message {
  color: rgba(153, 153, 153, 1);
  font-size: 13px;
  font-weight: 400;
}
